* {
  margin: 0;
  padding: 0;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: sans-serif;
}

.salad {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  margin-left: 20px;
}
.hero_section {
  /* 
  background-image: url(./images/salad\ cafe.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100vh;
  width: 100%;
  background-image: url(./images/salad\ cafe.jpg);
  background-size: cover;
  background-position: center;
}
.text-container {
  color: black;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 636px;
}
.lg_text {
  font-size: 22px;
}
h2 {
  font-size: 52px;
}
.peregrf {
  font-size: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: beige;
}
.menu {
  padding: 5vh 20vh 5vh 20vh;
}
.menu h1 {
  font-size: 50px;
}
.m-row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}
.m-row-colman {
  min-width: 250px;
  width: 34%;
  /* background-color: aqua; */
  margin: auto;
}
/* secion-2 */

.card-iner {
  /* height: 100vh; */
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-row {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-1 {
  height: 300px;
  margin: 5px;
  min-width: 300px;
  /* width: 40%; */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card-thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.card-deatil {
  margin-left: 20px;
  width: 300px;
}
.card-deatil h2 {
  font-size: 30px;
}

/* <!-- section-3  --> */
.other-iner {
  /* height: 100vh;  */
  background-color: aliceblue;
  background-image: url(./images/healthy-salad-ingredients_88242-344.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-position: right; */
}
.other-colam {
  width: 50%;
  height: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  margin: auto auto auto 5%;
}
.other-colam h1 {
  font-size: 4vh;
  color: white;
}
.other-line {
  height: 30px;
  width: 50%;
  background-color: bisque;
}
.other-menu ul li {
  list-style: none;
  font-size: 2vw;
  color: white;
}
/* <!-- section-4  --> */

section.about-iner {
  /* height: 80vh; */
  background-color: rgba(109, 188, 153, 0.151);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-position: bottom;
  background-image: url(./images/aaaaa.jpg);
}
.about-dtails h1 {
  font-size: 4vw;
}
.about-dtails p {
  font-size: 2vw;
}
.about-dtails {
  width: 50%;
  margin: auto auto auto auto;
}
/* <!-- section-5  -->  */
.review-inner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.review-profail {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 10px solid yellow;
  align-items: flex-start;
}
.review-datials {
  width: 60%;
  text-align: center;
}

/* <!-- section-6  --> */
.subs-inner {
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sub-card {
  background-color: white;
  height: 450px;
  margin: auto;
  min-width: 300px;
  width: 40%;
  border-radius: 50px;
  padding: 30px;
  text-align: center;
}
.sub-title h1 {
  font-size: 4vw;
}
.sub-title p {
  font-size: 2vw;
}
.sub-title form {
  display: flex;
  flex-direction: column;
}
.a1 {
  height: 30px;
  padding: 10px;
  border-radius: 50px;
  border: 3px solid yellow;
}
.btn {
  height: 50px;
  border-radius: 50px;
  color: black;
  border: none;
  background-color: yellow;
}
footer {
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
/* 
@media (max-width: 786px) {
  .other-iner {
    min-height: 1200px;
  }
  .text-container {
    padding: 10px 0;
    text-align: center;
  }
  .lg_text {
    font-size: 32px;
  }
} */
